<div class="announce-wrap login-policy">
    <div class="announce-header">
        <h1>KYC Privacy Policy</h1>
    </div>

    <div class="tc-content">
        
        <p>
          <span
            >11.1. You hereby acknowledge and accept that if we deem necessary, we
            are able to collect and otherwise use your personal data in order to
            allow you access and use of the Websites and in order to allow you to
            participate in Games.</span
          >
        </p>
        <p>&nbsp;</p>
        <p>
          11.2. We hereby acknowledge that in collecting your personal details as
          stated in the previous provision, we are bound by the Data Protection Act.
          We will protect your personal information and respect your privacy in
          accordance with best business practices and applicable laws.
        </p>
        <p>
          11.3. We will use your personal data to allow you to participate in the
          Games and to carry out operations relevant to your participation in the
          Games. By opening your Member Account, you acknowledge and accept that
          employees of <a href="https://{{domain}}">{{domain}}</a> shall have access to your personal data for the
          purpose of executing their duties and providing you with the best possible
          assistance and service. We may also use your personal data to inform you
          of changes, new services and promotions. You may opt out of receiving
          marketing emails at any time.
        </p>
        <p>
          11.4. Your personal data will not be disclosed to third parties, unless
          such a disclosure is either required by law or is necessary for the use of
          our service, in which case, you are deemed to have consented to such
          disclosures to a third party.
        </p>
        <p>
          11.5. We shall keep all information provided as personal data
          indefinitely, unless we elect to destroy such information after the
          expiration of application data-retention periods or where we are required
          to destroy such information by law.
        </p>
        <p>
          11.6. You accept that our website uses cookies and we therefore collect
          certain basic information transmitted to our server from your browser.
        </p>
        <p>&nbsp;</p>
    </div>
</div>
