<div class="announce-wrap login-policy">
    <div class="announce-header">
        <h1>22. Fairness and RNG Testing Methods</h1>
    </div>

    <div class="tc-content">
        <p>&nbsp;</p>
        
        <p>
          22.1. <a href="https://{{domain}}">{{domain}}</a> operates under a Cura&ccedil;ao Gaming licence issued
          by the Government of the Netherlands Antilles. Our online products are all
          supplied by companies with approved e-Gaming Cura&ccedil;ao licensing and
          status. All products operated by <a href="https://{{domain}}">{{domain}}</a> go through a vigorous
          testing process before launch, including internal testing and External
          Compliance Testing (ECT) by our own teams. Conducted ECT covers elements
          including but not limited to functionality, display, transaction, rules
          and mathematics ensuring product compliance to regulatory requirements.
          Additional internal compliance is also conducted to ensure other
          functionality around integration testing and user acceptance testing,
          further guaranteeing integrated games perform up to the expected user
          experience standard. Our games all offer unpredictable game play and
          possibilities of large wins and losses, but the average long term return
          of a game can be calculated using the Theoretical Return to Player (RTP)
          value using either a theoretical or simulated approach adjusted according
          to the game type. The Theoretical RTP value is as suggested - a
          theoretical calculation disclosing expected wage percentage player return
          after a certain amount of plays. Visit the information section of the game
          to find more information about RTP of specific games.
        </p>
        <p>&nbsp;</p>
       
    </div>
</div>