.tp_image {
  // height: auto;
}
.entrance-title dt {
  font-size: 13px;
}
.entrance-title {
  background-image: linear-gradient(270deg, rgb(41 42 42 / 62%) 4%, #000 97%);
}
.gamehall-wrap-simple .entrance-half:before {
  padding-top: 70.77778%;
}

.sport-list-title {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #fdcf13;
  background: #203259;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}

.aaa, .andar-bahar, .dragon-tiger, .hi-low, .livetp, 
.matka, .muflisteenpatti, .queenrace, .race20, .roulettelive, 
.sicbo, .tptest, .trio, .bg-baccarat, .bg-bollywood, 
.bg-casinometer, .bg-poker1day, .bg-poker2020, .bg-poker6p, .teenapattit20
{ max-width: 100%; background-size: 100%; background-image: url('/assets/images/casino_new/spritelobbysmall.webp'); }
 
.aaa { background-position: 0 0%; background-size: 100%; }
.andar-bahar { background-position: 0 5.263158%; background-size: 100%; }
.dragon-tiger { background-position: 0 10.526316%; background-size: 100%; }
.hi-low { background-position: 0 15.789474%; background-size: 100%; }
.livetp { background-position: 0 21.052632%; background-size: 100%; }
.matka { background-position: 0 26.315789%; background-size: 100%; }
.muflisteenpatti { background-position: 0 31.578947%; background-size: 100%; }
.queenrace { background-position: 0 36.842105%; background-size: 100%; }
.race20 { background-position: 0 42.105263%; background-size: 100%; }
.roulettelive { background-position: 0 47.368421%; background-size: 100%; }
.sicbo { background-position: 0 52.631579%; background-size: 100%; }
.tptest { background-position: 0 57.894737%; background-size: 100%; }
.trio { background-position: 0 63.157895%; background-size: 100%; }
.bg-baccarat { background-position: 0 68.421053%; background-size: 100%; }
.bg-bollywood { background-position: 0 73.684211%; background-size: 100%; }
.bg-casinometer { background-position: 0 78.947368%; background-size: 100%; }
.bg-poker1day { background-position: 0 84.210526%; background-size: 100%; }
.bg-poker2020 { background-position: 0 89.473684%; background-size: 100%; }
.bg-poker6p { background-position: 0 94.736842%; background-size: 100%; }
.teenapattit20 { background-position: 0 100%; background-size: 100%; }

.img-2cardteenpatti, .img-32cards-virtual, .img-32cards, .img-7up-down-virtual, .img-7up-down, 
.aaa-virtual, .andar-bahar-virtual, .dragon-tiger-virtual, .high-low-virtual, .mataka-virtual, 
.poker-virtual, .poker6p-virtual, .tponeday-virtual, .teenpattit20ivirtual
{ max-width: 100%; background-size: 100%; background-image: url('/assets/images/casino_new/spritelobbysmall1.webp'); }
 
.img-2cardteenpatti { background-position: 0 0%; background-size: 100%; }
.img-32cards-virtual { background-position: 0 7.692308%; background-size: 100%; }
.img-32cards { background-position: 0 15.384615%; background-size: 100%; }
.img-7up-down-virtual { background-position: 0 23.076923%; background-size: 100%; }
.img-7up-down { background-position: 0 30.769231%; background-size: 100%; }
.aaa-virtual { background-position: 0 38.461538%; background-size: 100%; }
.andar-bahar-virtual { background-position: 0 46.153846%; background-size: 100%; }
.dragon-tiger-virtual { background-position: 0 53.846154%; background-size: 100%; }
.high-low-virtual { background-position: 0 61.538462%; background-size: 100%; }
.mataka-virtual { background-position: 0 69.230769%; background-size: 100%; }
.poker-virtual { background-position: 0 76.923077%; background-size: 100%; }
.poker6p-virtual { background-position: 0 84.615385%; background-size: 100%; }
.tponeday-virtual { background-position: 0 92.307692%; background-size: 100%; }
.teenpattit20ivirtual { background-position: 0 100%; background-size: 100%; }