<div class="announce-wrap login-policy">
    <div class="announce-header">
        <h1>Dispute Resolution </h1>
    </div>

    <div class="tc-content">
        <p>&nbsp;</p>
        <h2 id="Complaints">23. Complaints</h2>
        <p>
          23.1. If you have a complaint to make regarding our services, you may
          contact our customer support via Live Chat or by email the address
          provided on <a href="https://{{domain}}">https://www.{{domain}}</a>
        </p>
        <p>
          23.2. If, for some reason, you are not satisfied with the resolution of
          your complaint by <a href="https://{{domain}}">{{domain}}</a>, you may report a complaint to the Curacao
          eGaming Commission; 
          Address:________________________
           <!-- Pletterijweg Oost, Ara Hilltop Building,
          Cura&ccedil;ao  -->
          Telephone number: ____<br />E-mail:
         ____________________
        </p>
        
    </div>
</div>