<div id="changePassBox" class="overlay" style="display: none;">
    <div class="dialog-wrap-w login_to_go">
        <div class="kv">
            <img src="assets/images/transparent.gif" alt="Logo">
        </div>
        <form [formGroup]="ChangePwdForm" (ngSubmit)="ChangePwd()">
            <dl class="login-panel">
                <dt>Change Password</dt>
                <dd><input type="password" placeholder="New Password" formControlName="newpwd"></dd>
                <dd>
                    <input type="password" placeholder="New Password Confirm" formControlName="retypepwd">
                </dd>
                <dd>
                    <input type="password" placeholder="Old Password" formControlName="pwd">
                </dd>

                <dd>
                    <a id="changePassBoxLoginBtn" (click)="ChangePwdForm.invalid?'':ChangePwd()" style="cursor: pointer"
                        class="btn-send">Change
                        <img class="icon-login" src="assets/images/transparent.gif"></a>
                    <button type="submit" style="display: none;"></button>
                </dd>
                <dd id="changePassBoxErrorMsg" class="error">
                    <ng-container *ngIf="newpwd.errors?.required && f.newpwd.touched">
                        Password is required
                    </ng-container>
                    <ng-container *ngIf="f.newpwd.errors">
                        <span *ngIf="ChangePwdForm.get('newpwd').hasError('passwordStrength')">
                            {{ChangePwdForm.get('newpwd').errors['passwordStrength']}}</span>
                    </ng-container>
                    <ng-container *ngIf="retypepwd.errors?.required && f.retypepwd.touched">
                        Confirm Password is required
                    </ng-container>
                    <ng-container *ngIf="retypepwd.errors?.mustMatch">New
                        Password and retype Password should be same !
                    </ng-container>
                    <ng-container *ngIf="pwd.errors?.required && f.pwd.touched">
                        Old Password is required
                    </ng-container>

                    <ng-container *ngIf="result">
                        {{result}}
                    </ng-container>
                </dd>

            </dl>
        </form>
        <!-- <a id="close" style="cursor: pointer" class="close" (click)="closeLoginPop()" style="right: 10px;"></a> -->
    </div>
</div>