
<div id="overWrap" class="over-wrap" style="height: calc(100% - 26px)"  *ngIf="siteName!='velkibuzz' && siteName!='bajii365' && siteName!='runbet' && siteName!='jio365' && siteName!='sports365' && siteName!='winbetusd' && siteName != 'lc247' && siteName !='lc365'">
    <h4 class="sport-list-title">{{Update?.DiamondLiveCasinos}}</h4>

    <div class="gamehall-wrap-simple">

        <a class="entrance-half"  [routerLink]="['tp',casino.tableId,casino.tableName,casino.oddsUrl.replace('/d_rate/','')]"
        *ngFor="let casino of casinoList"
            style="cursor: pointer">
            <dl class="entrance-title">
                <dt>{{casino.tableName}}</dt>
                <div class="rotating-border rotating-border--google heart"><span>{{Update?.playnow}} <i aria-hidden="true"
                    class="fa fa-play"></i></span></div>
                    <!-- <dd>{{Update?.playnow}}</dd> -->
            </dl>
            <img class="tp_image diaimg" src="assets/images/casino_new/{{casino.tableName}}.jpg" alt="{{casino.tableName}}" draggable="false" >
        </a>
    </div>
</div>

<div id="overWrap" class="over-wrap" style="height: calc(100% - 26px)"  *ngIf="siteName == 'lc247' || siteName=='lc365'">
    <h4 class="sport-list-title">Our Live Casinos</h4>

    <div class="gamehall-wrap-simple">

        <a class="entrance-half" [routerLink]="['tp',casino.tableId,casino.tableName,casino.oddsUrl.replace('/d_rate/','')]"
        *ngFor="let casino of casinoList"
            style="cursor: pointer">
            <dl class="entrance-title">
                <dt>{{casino.tableName}}</dt>
                <dd>{{Update?.playnow}}</dd>
            </dl>
            <img class="tp_image" src="assets/images/casino_new/{{casino.tableName}}.jpg" alt="{{casino.tableName}}" draggable="false">
        </a>
    </div>
</div>

<div id="overWrap" class="over-wrap" style="height: calc(100% - 26px)"  *ngIf="siteName=='velkibuzz' || siteName=='bajii365' || siteName=='jio365'">
    <h4 class="sport-list-title">Our Live Casinos</h4>

    <div class="gamehall-wrap-simple">

        <a class="entrance-half " 
        routerLink="/tpp/{{casino.opentable}}"
        *ngFor="let casino of casinoListlist"
            style="cursor: pointer">
            <dl class="entrance-title">
                <dt>{{casino.CasinoName}}</dt>
                <div class="rotating-border rotating-border--google heart"><span>{{Update?.playnow}} <i aria-hidden="true"
                    class="fa fa-play"></i></span></div>
            </dl>
            <img src="assets/images/casino/aman/{{casino.tableName}}.png">
        </a>
    </div>

</div>


<div id="overWrap" class="over-wrap" style="height: calc(100% - 26px)"  *ngIf="siteName=='runbet' || siteName=='winbetusd'">
    <h4 class="sport-list-title">Our Live Casinos</h4>

    <div class="gamehall-wrap-simple">

        <a class="entrance-half " 
        routerLink="/tpp/{{casino.opentable}}"
        *ngFor="let casino of casinoLists"
            style="cursor: pointer">
            <dl class="entrance-title">
                <dt>{{casino.CasinoName}}</dt>
                <div class="rotating-border rotating-border--google heart"><span>{{Update?.playnow}} <i aria-hidden="true"
                    class="fa fa-play"></i></span></div>
            </dl>
            <img src="assets/images/casino/aman/{{casino.tableName}}.png">
        </a>
    </div>

</div>
<div id="overWrap" class="over-wrap" style="height: calc(100% - 26px)"  *ngIf="siteName=='sports365'">
    <h4 class="sport-list-title">Our Live Casinos</h4>

    <div class="gamehall-wrap-simple">

        <a class="entrance-half " 
        routerLink="/tpp/{{casino.opentable}}"
        *ngFor="let casino of casinoListssports365"
            style="cursor: pointer">
            <dl class="entrance-title">
                <dt>{{casino.CasinoName}}</dt>
                <div class="rotating-border rotating-border--google heart"><span>{{Update?.playnow}} <i aria-hidden="true"
                    class="fa fa-play"></i></span></div>
            </dl>
            <img src="assets/images/casino/aman/{{casino.tableName}}.png">
        </a>
    </div>

</div>