.tp_image {
  height: auto;
}
.entrance-title dt {
  font-size: 13px;
}
.entrance-title {
  background-image: linear-gradient(270deg, rgb(41 42 42 / 62%) 4%, #000 97%);
}
.gamehall-wrap-simple .entrance-half:before {
  padding-top: 70.77778%;
}

.sport-list-title {
  color: #fdcf13;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #fdcf13;
  background-image: linear-gradient(270deg, rgba(41, 42, 42, 0.62) 4%, #000 97%);
  padding: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}
