<div class="announce-wrap login-policy">
    <div class="announce-header">
        <h1>Responsible Gaming</h1>
    </div>

    <div class="tc-content">
        <p><span>Responsible Gaming</span></p>
<p>At <a href="https://{{domain}}">{{domain}}</a>, along side, our sister platforms; we offer a platform and services that enable our clients to enjoy gaming and betting. We aim to provide you with a safe, secure, regulated environment which will give you a pleasant and rewarding experience. We encourage our clients to use our services responsibly and in a reasonable manner.</p>
<p>Gambling of all varieties has been a popular form of entertainment for many years. Here at <a href="https://{{domain}}">{{domain}}</a>, we encourage it to be exactly that, fun. We also encourage our customers, while having fun, not to allow their gambling affect their usual daily routine or time spent with family and friends. Making sure that the money they spend is set aside for leisure time and not for other purposes. It is very important not to rely on paying for life's necessities with possible gains from gambling as this is not guaranteed in any way.</p>
<p>While most customers do gamble in this manner, we understand that a small minority of customers can develop problems with their gambling.</p>
<p>At <a href="https://{{domain}}">{{domain}}</a>, our customer's wellbeing is of utmost importance, we take our role within responsible gambling very seriously and recommend that you:</p>
<ul>
<li>Treat your betting and gaming as a form of entertainment and only use money that you have set aside for your entertainment.</li>
<li>Do not bet or wager amounts larger than you are comfortable with.</li>
<li>Do not bet or wager with money you cannot afford to lose.</li>
<li>Do not chase your losses.</li>
<li>Do not let your betting and or gaming take up time that you would usually spend on other activities.</li>
</ul>
<p>If you have any concerns about your gambling habits and feel that you can&rsquo;t follow these recommendations, we urge you to seek advice from accredited organisations that can offer support and assistance, such as:</p>
<ul>
<li><span style="text-decoration: underline;"><a href="http://www.gamcare.org.uk/" target="_blank">GamCare</a></span></li>
<li><span style="text-decoration: underline;"><a href="https://keepitfun.rank.com/" target="_blank">Keep It Fun</a></span></li>
<li><span style="text-decoration: underline;"><a href="https://www.gamblingtherapy.org/" target="_blank">Gambling Therapy</a></span></li>
</ul>
<p>In addition, you can contact our friendly <a href="https://{{domain}}">{{domain}}</a> support agents at&nbsp;&nbsp;if you would like to discuss our self-exclusion process. Sometimes a short break away can be really useful in assisting you with gathering your thoughts and stopping you from making any rash wagering decision that you wouldn't usually make.</p>
<p>On request, we will place your account on the minimum of a 24-hour cooling off period. This will be followed by one of our support agents informing you of the voluntary 1-week, 1-month, 6-months or permanent self-exclusions available.</p>
<p>Please take note; accounts closed under our self-exclusion policy cannot be reversed or reopened for any reason. However, once your self-exclusion has expired, we will email you to let you know your account is active again. Permanent self-exclusion will be remain in place indefinitely.</p>
<p><span>Underage</span></p>
<p>If you wish to gamble with us at <a href="https://{{domain}}">{{domain}}</a><a href="mailto:support@{{domain}}">/support@{{domain}}</a>, you must be over 18 years of age or the legal minimum age for gambling in the jurisdiction you remain under the laws applicable to you, if younger.</p>
<p>We recommended if you have any minors living in your household, to review the following parental control software links, which could prove a useful tool, regarding control and restrictions of the content accessible on your devices.</p>
<ul>
<li><a href="https://www.netnanny.com/">https://www.netnanny.com/</a></li>
<li><a href="https://www.cyberpatrol.com/">https://www.cyberpatrol.com/</a></li>
</ul>
    </div>
</div>
