<!-- promotion slider -->
<div id="promoteWrap" class="promo-banner-wrap" *ngIf="siteName=='cricbuzzer'">
    <div class="promo-banner">
        <ul class="slides">
            <ng-container>
                <li class="banner"><a href="https://lc247.co" target="_blank"><img src="assets/images/mobile/promo/cricbuzzer/lc247.png" alt="Velkibuzzer" /></a>
                </li>
                <li class="banner"><a href="https://velkibuzzer.io"  target="_blank"><img src="assets/images/mobile/promo/cricbuzzer/velkibuzzer.png" alt="Lc247co" /></a>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="promo-banner-loading"></div>
</div>