<!-- Support Info -->

<div id="supportWrap" class="support-wrap">
  <div class="support-service">
    <ng-container>
      <a id="support_whatsapp" (click)="openSupport('whatsapp')" (mouseenter)="openSupport('whatsapp')"
        class="support-whatsapp" [ngClass]="{ open: supportOpen == 'whatsapp' }">
        <img src="assets/images/transparent.gif" title="WhatsApp" />
      </a>

      <a id="support_fb" (click)="openSupport('fb')" (mouseenter)="openSupport('fb')" class="support-fb"
        [ngClass]="{ open: supportOpen == 'fb' }" >
        <img src="assets/images/transparent.gif" title="Facebook" />
      </a>
    </ng-container>

    <a  id="support_email" (click)="openSupport('email')" (mouseenter)="openSupport('email')" class="support-mail"
      [ngClass]="{ open: supportOpen == 'email' }">
      <img src="assets/images/transparent.gif" title="Email" />
    </a>
 

    <a  id="support_telegram" (click)="openSupport('telegram')" (mouseenter)="openSupport('telegram')"
      class="support-telegram" [ngClass]="{ open: supportOpen == 'telegram' }">
      <img src="assets/images/transparent.gif" title="Telegram" />
    </a>

    <a id="support_skype" (click)="openSupport('skype')" (mouseenter)="openSupport('skype')" class="support-skype"
      [ngClass]="{ open: supportOpen == 'skype' }">
      <img src="assets/images/transparent.gif" title="Skype" />
    </a>

    <a id="support_instagram" (click)="openSupport('instagram')" (mouseenter)="openSupport('instagram')"
      class="support-ig" [ngClass]="{ open: supportOpen == 'instagram' }">
      <img src="assets/images/transparent.gif" title="Instagram" />
    </a>
  </div>

  <div class="support-info">
    <div id="supportDetail_whatsapp" class="support-detail" [ngClass]="{ open: supportOpen == 'whatsapp' }">
      <a href="https://wa.me/{{ whatsapp }}">{{ whatsapp }}
      </a>
      <a href="https://wa.me/{{ whatsapp1 }}" *ngIf="whatsapp1">{{ whatsapp1 }}
      </a>
      <a target="_blank" href="https://api.whatsapp.com/send?phone={{ whatsapp2 }}&text=Hi,%20I%20want%20to%20play"
        *ngIf="whatsapp2"><span>{{whatsapp2}}</span></a>
      <a target="_blank" href="https://wa.me/message/55E5GRJJSBHKB1" *ngIf="whatsapp3"><span>{{whatsapp3}}</span></a>
    </div>

    <div id="supportDetail_fb" class="support-detail" [ngClass]="{ open: supportOpen == 'fb' }" >
      <a *ngIf="siteName == 'cricbuzzer'" href="https://www.facebook.com/profile.php?id=100089185596523">Cricbuzzerfbgroup</a>
      <a *ngIf="siteName == 'dreamcric'" href="">Dreamcricfbgroup</a>
    </div>

  
    <div id="supportDetail_email" class="support-detail"
    [ngClass]="{ open: supportOpen == 'email' }">
    <a *ngIf="siteName == 'cricbuzzer'" href="mailto:support@cricbuzzer.io">support@cricbuzzer.io</a>
    <a *ngIf="siteName == 'dreamcric'" href="">support@dreamcric.io</a>
  </div>

    <div id="supportDetail_telegram" class="support-detail" [ngClass]="{ open: supportOpen == 'telegram' }">
     
      <a *ngIf="siteName == 'cricbuzzer'" href="https://t.me/cricbuzzerio" class="ui-link"><span>cricbuzzerofficial</span></a>
      <a *ngIf="siteName == 'dreamcric'" href="" class="ui-link"><span>dreamcricofficial</span></a>

    </div>

  
    <div  id="supportDetail_skype" class="support-detail" [ngClass]="{ open: supportOpen == 'skype' }">
      <a  *ngIf="siteName == 'cricbuzzer'" href="skype:live:.cid.6947ef09d098019f?chat">{{ siteName }}official</a>
      <a  *ngIf="siteName == 'dreamcric'" href="">{{ siteName }}official</a>
    </div>
    <div id="supportDetail_instagram" class="support-detail" [ngClass]="{ open: supportOpen == 'instagram' }">
        <a *ngIf="siteName == 'cricbuzzer'" href="https://www.instagram.com/cricbuzzer.io/" class="ui-link"
        target="_blank">official{{ siteName }}</a>

        <a *ngIf="siteName == 'dreamcric'" href="" class="ui-link"
        target="_blank">official{{ siteName }}</a>
    </div>
  </div>
</div>

