<div id="overWrap" class="over-wrap" style="height: calc(100% - 26px);">
    <div class="casino-box-tabs">
        <div class="casino-tabs-menu">
            <a (click)="scrollLeft()" class="arrow-tabs arrow-left"><i class="fas fa-chevron-left"></i></a>
            <ul #tab1 class="nav nav-pills scroll">
                <li class="nav-item" *ngFor="let pro of slotfilter" (click)="slotFilter(pro)"><a
                        href="javascript:void(0)" class="nav-link" [ngClass]="pro == slotfilters?'active':'null'">
                        <span>{{pro | titlecase}}</span></a></li>
            </ul>
            <a (click)="scrollRight()" class="arrow-tabs arrow-right"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="gamehall-wrap-simple">
        <ng-container  *ngFor="let casino of data">
        <a class="entrance-half"  *ngIf="casino.name !='Evolution Live Dealers' && casino.name != 'Ezugi Live Dealers'"
             
            routerLink="/slotgame/{{casino.id}}" style="cursor: pointer;">
            <dl class="entrance-title">
                <dt>{{casino.name}}</dt>
                <div class="rotating-border rotating-border--google heart"><span>{{Update?.playnow}} <i aria-hidden="true"
                            class="fa fa-play"></i></span></div>
                <!-- <dd>{{Update?.playnow}}</dd> -->
            </dl><img [src]="casino.img" >
        </a>
        <a class="entrance-half"  *ngIf="casino.name =='Evolution Live Dealers' || casino.name == 'Ezugi Live Dealers'"
         
        (click)="opengame(casino.id)" target="_blank" style="cursor: pointer;">
        <dl class="entrance-title">
            <dt>{{casino.name}}</dt>
            <div class="rotating-border rotating-border--google heart"><span>{{Update?.playnow}} <i aria-hidden="true"
                        class="fa fa-play"></i></span></div>
            <!-- <dd>{{Update?.playnow}}</dd> -->
        </dl><img [src]="casino.img" >
    </a>
    </ng-container>
    </div>
</div>